.btn {
  display: inline-block;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 1px solid transparent;
}

a.btn {
  text-decoration: none;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.circle {
  position: relative;
  left: 30px;
  top: 5px;
  font-size: 100px;
  color: white;
}


.results {
  border: 1px solid green;
  list-style-type: decimal-leading-zero;
  font-size: 24px;
  color: black;
  background:silver;
}

.stations {
  color: #004d4d;
  text-align: center;
  font-size:40px;
}
body{
  background-color:white;
}

.red {
  background: red;
}

.green {
  background: green;
}
.yellow {
  background: #ffbe42;
}
.orange {
  background: #ff8c00 ;
}
.blue {
  background: blue;
}
.brown {
  background: #614126;
}
.lightgreen {
  background: #98e698;
}
.grey {
  background: grey;
}
.lightblack {
  background: #1a1a1a;
}
h1{
  background:#9EB9D4;
  margin-top:0px;
  height:150px;
}
