.btn {
  display: inline-block;
  background: green;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 1px solid transparent;
}

a.btn {
  text-decoration: none;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.circle {
  position: relative;
  left: 25px;
  top: 12px;
  font-size: 100px;
  color: white;
}

.purple {
  background-color: purple;
}

.red {
  background-color: #d61727;
}

.green {
  background-color: green;
}

.blue {
  background-color: #133160;
}

.orange {
  background-color: #e27806;
}

.yellow {
  background-color: #FFE933;
}

.brown {
  background-color: #663300;
}

.lightgreen {
  background-color: #85e085;
}

.lightblue {
  background-color: #33cccc;
}

.results {
  border: 1px solid green;
  list-style-type: decimal-leading-zero;
  font-size: 24px;
  color: #6C1B31;
}

.stations {
  color: red;
  text-align: center;
}